body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

main {
  min-height: 100vh;
  display: flex;
  /* padding: 1.5rem; */
  align-items: center;
  justify-content: center;
}

.card-container {
  color: white;
  margin: 1.5rem;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  max-width: 910px;
}

.card {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card img {
  width: 64px;
  height: 40px;
}

.card h2 {
  text-transform: uppercase;
  font-family: "Big Shoulders", sans-serif;
  font-size: 2.5rem;
}
.card p {
  opacity: 0.7;
  line-height: 1.75;
  margin-bottom: 2.5rem;
}
.card a {
  border: 2px solid white;
  padding: 1em 2em;
  border-radius: 2em;
  margin-top: auto;
  margin-right: auto;
}

.orange-card {
  background-color: #e28525;
  /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
}
.green-card {
  background-color: #016972;
}
.darkgreen-card {
  background-color: #00403f;
  /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
}

@media (max-width: 850px) {
  .cards-container {
    flex-direction: column;
    max-width: 400px;
  }

  .card {
    width: unset;
    width: auto;
  }
}
