body {
  margin: 0;
  font-family: "Salsa", cursive;
}

.jhalar {
  width: 171px;
  margin-bottom: -180px;
}

.hero-section {
  min-height: 100vh;
  /* background-color: #F99501; */
  background-image: url(/images/orange-backdrop.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.paragraph-and-audio {
  margin-left: 15rem;
}

.hero-section p {
  /* font-size: 46px; */
  font-size: 39px;
  max-width: 400px;
}

audio::-webkit-media-controls-panel {
  background-color: #fbd8a4;
}

.audio-container {
  background-color: #fbd8a4;
  max-width: 500px;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}
